/* Style for the form element */
form {
    margin: 2px;
    padding: 14px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    max-width: 400px;
    display: inline-block;
  }
  
  /* Style for the input elements within the form */
  form input[type="text"],
  form input[type="email"],
  form textarea {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Style for the submit button within the form */
  form input[type="submit"] {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Style for the table element */
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
  }
  
  /* Style for table rows */
  table tr {
    background-color: #f9f9f9;
  }
  
  /* Style for table headers */
  table th {
    background-color: #0074d9;
    color: #fff;
    padding: 10px;
  }
  
  /* Style for table cells */
  table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
              
            
          
ul {
  counter-reset: li; 
  list-style: none; 
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ul  {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  background: #fcfbf9;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: .3s ease-out;
}

ul li:hover { background: #E9E4E0; }
ul li:hover:before { transform: rotate(360deg); }
ul li:before {
  
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #f9dd94;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}
    
      
  
    
